/*General throughout site*/
.car{
    height: 200px !important;
    width: 135px !important;
    border-radius: 10px;
}

body {
    /*background: #b1b1b1;*/
    background-image: url("./pics/bg2.jpg");
    background-attachment: fixed;
    opacity: .95;
}

.brand{
    position: fixed;
    height: 100px;
    width: 100%;
    top: 0;
    background: #4C5364;
    box-shadow: 0 0 15px;
}

.brand p{
    font-size: 300%;
    color: #ECECEA;
    padding-top: 20px;
    font-weight: bold;
    font-family: 'Enriqueta', serif;
}

.brand2{
    padding-top: 50px;
}

h1{
    font-family: 'Enriqueta', serif;
    font-weight: bold;
    text-align: center;
    font-size: 325%;
    color: #4C5364;
    padding-top: 125px;
    padding-bottom: 10px;
}

h2{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #558C89;
    font-size: 250%;
    padding-top: 10px;
}

h3{
    font-family: 'Lato', sans-serif;
    color: #4C5364;
    width: 40%;
    margin: 0 auto;
    font-size: 110%;
    text-align: center;
    padding-top: 10px;
}

p{
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #4C5364;
    font-size: 110%;
}

header,
nav,
section,
article,
aside,
footer {
    display: block;
}

/**************************************************/
/*Hamburger*/

.mobile-nav{
}

.menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}
 
.menu-btn span {
	display: block;
	width: 25px;
	height: 4px;
	margin: 4px 0;
	background: #ECECEA;
	z-index: 99;
}

.contain{
    padding-left: 40px;
}
 
.responsive-menu{
	display: none;
}
 
.expand {
	display: block !important; 
}
/**************************************************/
/*Navigation Area*/
nav {
    position: fixed !important;
    background-color: #4C5364;
    margin: 0px auto;
    width: 20%;
    top: 50px;
    font-family: 'Lato', sans-serif;
    opacity: .75;
}

nav ul {
    list-style-type: none;
    top: 0;
}

nav li {
    float: left;
    padding: 0px 170px 0px 40px;
    margin: 0 auto;
    font-size: 110%;
}

nav li a{
    color: #ECECEA;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    text-decoration: none !important;
}

nav li a:hover{
    color: #558C89;
}

/**************************************************/
/*Home Page*/
.about{
    color: #558C89;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 0 10px 10px 10px;
    background: #ECECEA;
    box-shadow: 0 0 15px;
}

.about2{
    color: #558C89;
    font-weight: bold;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 0 10px 10px 10px;
    background: #ECECEA;
    box-shadow: 0 0 15px;
}

.about2 h2{
    padding-right: 170px;
}

.displayed{
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 15px;
    box-shadow: 0px 0px 15px;
}

/**************************************************/
/*Resume*/
.rlist li{
    text-align: center;
    list-style: none;
    color: #558C89;
    font-weight: bold;
}

.res2{
}

.ed{
    background: #ECECEA;
    width: 50%;
    margin: 0px auto;
    border-radius: 10px;
    box-shadow: 0 0 15px;
    padding: 20px 10px 20px 10px;
}

/**************************************************/
/*Research*/
.display{
    height: 150px;
    width: 150px;
    display: block;
    border-radius: 150px;
    box-shadow: 0px 0px 15px;
    box-shadow: 0px 0px 15px;
    float: left;
    margin: 15px;
}

.res{
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.res a{
    background: #ECECEA;
    margin: 0px auto;
    border-radius: 10px;
    box-shadow: 0 0 15px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 150%;
    font-weight: bold;
    color: #4C5364;
}

.res a:hover{
    color: #558C89;
}

.res li{
    list-style: none;
    padding-bottom: 3%;
    padding-right: 3%;
}

.res2{
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 160px;
}

.res2 a{
    background: #ECECEA;
    margin: 0px auto;
    border-radius: 10px;
    box-shadow: 0 0 15px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 150%;
    font-weight: bold;
    color: #4C5364;
}

.res2 a:hover{
    color: #558C89;
}

.res2 li{
    list-style: none;
    padding-bottom: 3%;
    padding-right: 3%;
}
/**************************************************/
/*Games*/
.games{
    margin: 0 auto;
    text-align: center;
}

.games a{
    background: #ECECEA;
    margin: 0px auto;
    border-radius: 10px;
    box-shadow: 0 0 15px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 200%;
    font-weight: bold;
    color: #558C89;
}

.games a:hover{
    color: #D9853B;
}

.games li{
    list-style: none;
    padding-bottom: 3%;
    padding-right: 30px;
    padding-top: 10px;
}
/**************************************************/
/*Image Gallery*/

.pics{
    height: 150px;
    width: 150px;
    float: left;
    padding: 10px 10px 10px 10px;
    border-radius: 150px;
    margin: 0 auto;
}

.pics a:hover{
    background: #D9853B;
}

.pic{
    padding-left: 27%;
    padding-top: 20px;
}

.pic2{
    padding-top: 170px;
    padding-left: 27%;
}

.pic3{
    padding-left: 27%;
    padding-top: 170px;
}
/**************************************************/
/*Email*/
.Input{
    padding: 5%;
}

.con{
    font-size: 100%;
    color: #D9853B;
    font-family: 'Lato', sans-serif;
}

.con h1{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 300%;
}

.con h2{
    color: #558C89;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 250%;
}

.form-group{
    color: #558C89;
    font-size: 175%;
    font-weight: bold;
}

.btn-primary{
    color: #4C5364;
    font-weight: bold;
    font-size: 125%;
    font-family: 'Lato', sans-serif;
    background: #FFFFFF;
    outline-color: #000000;
}

.btn-default{
    color: #558C89;
    font-weight: bold;
    font-size: 125%;
    font-family: 'Lato', sans-serif;
}

.myForm{
    color: #558C89;
    background: #ECECEA;
    width: 50%;
    font-family: 'Lato', sans-serif;
    /*font-weight: bold;*/
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 0 15px;
}

/**************************************************/
/*Media Queries*/
@media screen and (max-width: 1500px;) {
    h1{
        padding-top: 100px;
    }
}
/**************************************************/
@media screen and (max-width: 1400px;) {
    
    .display{
        height: 150px;
        width: 150px;
    }

    #img1{
        height: 100px;
        width: 100px;
    }

    #img2{
        height: 100px;
        width: 100px;
    }

    #img3{
        height: 100px;
        width: 100px;
    }
    
    nav{
        padding-bottom: 0px;
    }
    
    h1{
        padding-top: 150px;
    }
}

/**************************************************/
/*Size2*/
@media screen and (max-width: 1220px) {
    nav{
        padding-bottom: 0px;
    }
    
    h1{
        padding-top: 100px;
    }

    /*Research*/
    .display{
        height: 100px;
        width: 100px;
    }
}

/**************************************************/
/*Size 3*/
@media screen and (max-width: 755px){
    nav{
        padding-bottom: 0px;
    }
    
    h1{
        padding-top: 150px;
    }

    /*Resume*/
    .ed{
        width: 67%;
    }

    /*Research*/
    .res a{
        font-size: 150%;
    }

    /*Games*/
    .games li{
        padding-bottom: 7%;
        font-size: 50%;
    }

}

/**************************************************/
/*Size 4*/
@media screen and (max-width: 520px){
    nav{
        padding-left: 10px;
    }

    nav li a{
        font-size: 185%;
    }

    nav li{
        padding-left: 0px;
    }

    h1{
        font-size: 250%;
        padding-top: 200px;
    }

    h2{
        font-size: 200%;
    }

    p{
        font-size: 75%;
    }

    /*Index*/
    .about{
        width: 75%;
    }

    .displayed{
        height: 200px;
        width: 200px;
    }

    /*Resume*/
    .ed{
        width: 75%;
    }

    .res{
        padding-top: 50px;
    }

    .res a{
        font-size: 75%;
    }
    
    .res li{
        padding-right: 40px;
    }

    /*Research and Games*/
    .games{
        font-size: 75%;
        width: 100%;
    }

    .games li{
        padding-top: 20px;
    }
    
    /*Email*/
    .form-group{
        font-size: 150%;
    }
    
    .myForm{
        width: 75%;
    }
    
    .navigation li{
        font-size: 100%;
        padding-left: 0px;
    }
}
